{% extends 'base.html.twig' %}

{% block title %}Enseignant{% endblock %}

{% block body %}
    <h2>Enseignant</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enseignant.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ enseignant.matricule }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ enseignant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ enseignant.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-info" style="margin-left:530px;" ><a style="color:black;text-decoration:none;" href="{{ path('app_enseignant_index') }}">back to list</a>

        <button class="btn btn-success"style="margin-left:35px;" ><a style="color:black;text-decoration:none;" href="{{ path('app_enseignant_edit', {'id': enseignant.id}) }}">edit</a>

    {{ include('enseignant/_delete_form.html.twig') }}
{% endblock %}
